.home {
    background-color: rgb(39, 40, 34);
}

.bg1 {
    background-color: rgb(39, 40, 34);
}
.bg2 {
    background-color: rgb(39, 40, 34);
}

.bg3 {
    background-color: rgb(39, 40, 34);
    padding-left: 1em;
    padding-right: 1.5em;
}

    .bg3 h1 {
        padding-left: 1em;
    }

@media (min-width: 500px) {
    .bg3 {
        padding-left: 3em;
        padding-right: 4em;
    }
}

.bg4 {
    background-color: rgb(39, 40, 34);
}
.bg5 {
    background-color: rgb(39, 40, 34);
}

.bg6 {
    background-color: rgb(39, 40, 34);
    color: rgba(0, 0, 0, 0.5);
}

.bg7 {
    background-color: rgb(39, 40, 34);
}

.bg8 {
    background-color: rgb(39, 40, 34);
}

.bg9 {
    background-color: rgb(39, 40, 34);
}