.listicle li {    
    width: 80%;
}

.listItem {
    padding: 0 20px;
}

.listItem label {
    margin: 20px 0px;
    padding: 40px 80px 30px;
    width: 100%;
    display: block;
    background-color: rgba(20, 20, 20, 0.7);
    border-radius: 100px;
    /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/

    /*box-shadow: 0 19px 38px rgba(0,255,0,0.3), 0 15px 12px rgba(0,255,0,0.22);*/
    
}

.listItem label:hover,
.listItem label:active {
    background-color: rgba(39, 40, 34, 0.7);
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.listItem label .external {
    display: none;
}

.listItem input[type=checkbox],
.listItem div
{
    display: block;
    visibility: hidden;
    color: rgba(0,255,0,0.8);
    text-shadow: none;
    text-transform: none;
    font-style: italic;
    font-size: 0.75em;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    opacity: 0;
    max-height: 0px;
    transition: visibility 0s, transform 0.3s, opacity 0.3s, max-height 0.3s;
    transform: translateY(-100%);
}

.listItem blockquote {
    padding-bottom: 4px;
}

.listItem small {
    color: rgba(200, 200, 200, 0.9);
    /*font-family: 'Cousine', monospace;*/
    font-style: normal;
    font-size: 0.5em;
}

.listItem input[type=checkbox]:checked + label {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(39, 40, 34, 0.7);
    border: 1px rgba(0,255,0,0.8) solid;
}

.listItem input[type=checkbox]:checked + label .external {
    display: inline-block;
}

.listItem input[type=checkbox]:checked + label > div {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    transform: translateY(0px);
}