* {
    margin: 0;
    padding: 0;
}

section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.content {
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    font-family: 'Cousine', monospace;
}

.home {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

@media (max-width: 1000px) {
    .home {
        display: none;
    }
}

    .home .content {
        padding: 0%;
        padding-top: 20px;
        overflow-y: hidden;
    }

    .home nav a {
        white-space: nowrap;
    }

.myname {
    text-align: center;
    padding-top: 70px;
}

li {
    list-style: none;
}

.aligner {
    display: flex;
    align-items: center;
    height: 70%;
    min-height: 70%;
    justify-content: center;
}

.aligner-item {
    flex: 1 1 100%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.aligner-item--fixed {
  flex: none;
  max-width: 50%;
}