


.title {
    font-family: 'Space Mono', monospace;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.8), 1px 1px 0px rgba(40,40,40,1);
    font-size: 2.5em;
    color: #333;
    line-height: 1em;
}

.title.title-r {
    text-align: right;
}

h1 span {
    font-size: 0.3em;
}

small {
    font-family: 'Space Mono', monospace;
}

.highlight {
    /*color: rgb(228, 77, 122);*/
    color: rgba(0,255,0,0.8);
}

.mono {
    font-family: 'Space Mono', monospace;
}
    
    